<div class="nihongo">

 <% @posts.each_with_index do |post, index| %>
 <p><%= post.title %></p>

<h4 class="comment-open" data-post-id="<%= index %>">コメント一覧</h4>
<!-- コメント機能 -->
<% post.comments.each.with_index do |comment| %>
<div class="area">

<p class="comment-<%= index %>" style="display:none">
<span>コメント：</span>
<%= comment.text %></p>
<% end %>
</div>


<% end %>

眠いです。

<ul>
  <li>
 <%= render @posts %>
  </li>
</ul>


</div>